@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #002b2e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #002b2e;
    border-radius: 10px;
    border: 3px solid #002b2e;
}

body {
    scroll-behavior: smooth;
}

.header {
    min-height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 11;
}

.header .company-logo {
    display: flex;
    align-items: center;
}

.header .noti-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .header .noti-profile {
        justify-content: left;
    }
}

@media (max-width:425px) {
    .header .noti-profile {
        justify-content: center;
        padding: 20px 0px;
    }

    .student-id {
        margin: 20px 0px;
    }
}

.noti-icon {
    position: relative;
}

.noti-icon i {
    font-size: 2rem;
    color: #002b2e;

}

.noti-icon i span {
    position: absolute;
    top: -10px;
    left: 17px;
    height: 20px;
    background: #00b0ab;
    border-radius: 50%;
    width: 20px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header .image-show-profile {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #002b2e;
    overflow: hidden;
    box-sizing: border-box;
}


/* Navigation Section  Start */

.navigation {
    width: 60px;
    height: 100%;
    background: #002b2e;
    padding: 7rem 0rem;
    margin-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 10;
    transition: all .3s;
    overflow: hidden;
    overflow-y: auto;
}

.navigation:hover,
.navigation.active {
    width: 250px;
}

.navigation ul {
    list-style-type: none;
    padding-left: 0rem;
    position: absolute;
    width: 100%;
}

.navigation ul li.navigation-list {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li.navigation-list:hover {
    background-color: #00b0ab;
}

.navigation ul li.navigation-list a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.navigation-list a .icon,
.navigation ul li.navigation-list a .title {
    position: relative;
    display: block;
    min-width: 60px;
    line-height: 60px;
    height: 60px;
    text-align: center;
}

.navigation ul li.navigation-list a .icon .fas {
    font-size: 24px;
}

.toggle {
    position: fixed;
    top: 15px;
    right: 20px;
    color: #002b2e;
    cursor: pointer;
    z-index: 10000;
}

.toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    font-weight: 900;
    font-size: 30px;
    color: #002b2e;
}

.toggle.active::before {
    content: "\f00d";
    font-family: fontAwesome;
    font-weight: 900;
    color: #002b2e;
    font-size: 30px;
}

@media (max-width:1024px) {
    .navigation {
        left: -60px;
    }

    .navigation.active {
        left: 0px;
        width: 30%;
    }
}

@media (max-width:768px) {
    .navigation.active {
        width: 40%;
    }
}

@media (max-width:576px) {
    .navigation.active {
        width: 100%;
    }
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10000;
    animation: stickymenu 1s ease-in-out;
}

.sticky.primary-header {
    background-color: #00b0ab;
}

.sticky .primary-navigation a {
    color: #002b2e;
}

.sticky .primary-navigation a:hover {
    /*color: #002b2e;*/
    color: #fff;
}

@keyframes stickymenu {
    from {
        top: 0px;
    }

    to {
        top: 0px;
    }
}


/* Navigation Section  End */


/* Dashboard Page Start  */

.dashboard-section {
    background: linear-gradient(240deg, #15e4b7, #9bf3ec, #00b0ab, #ade2df);
    background-size: 400% 400%;
    color: #fff;
    animation: animatePrivacy 8s ease infinite;
    animation-delay: 3s;
    padding-top: 5rem;
}

@keyframes animatePrivacy {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.student-id {
    margin: auto;
    width: auto;
    height: 50px;
    border-radius: 40px;
    background-color: #00b0ab;
}

.std-id {
    display: flex;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.dashboard-section .dashboard-product .product-circle-outer {
    position: relative;
}

.dashboard-section .dashboard-product .product-circle-outer a {
    color: #00b0ab;
    text-decoration: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.dashboard-section .dashboard-product .product-circle-outer a .product-circle ul .icon-d {
    font-size: 2rem;

}

.dashboard-section .dashboard-product .product-circle-outer a .product-circle ul li span {
    font-size: 1rem;
    font-weight: bold;
    color: #002b2e;
}

.dashboard-section .dashboard-product .product-circle {
    position: relative;
    margin: 10px;
    padding: 2rem;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid rgba(0, 43, 46, .5);
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 0px 12px rgba(204, 204, 204, .3) inset;
    overflow: hidden;
    /* transform: translate(50%); */
}

.dashboard-section .dashboard-product .product-circle ul {
    list-style: none;
    padding-left: 0px;
}

.profile-show {
    border-radius: 30px;
}

.show-pic {
    margin: auto;
    height: 130px;
    width: 130px;
    border: 10px solid rgba(247, 242, 240, 0.5);
    border-radius: 50%;
    color: #00b0ab;
    font-size: 4rem;
}

@media (max-width:426px) {
    .dashboard-section .dashboard-product .product-circle {
        transform: translate(50%);
    }
}

@media (max-width:375px) {
    .dashboard-section .dashboard-product .product-circle {
        transform: translate(35%);
    }
}

/* testimonial section start  */
.carousel-icon i {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.3);
}

.carousel-item i {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.3);
}

.t-card {
    padding: 1.8125rem 1.125rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;
    color: #fff;
    height: auto;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 1.5625rem solid transparent;
    border-right: 1.5625rem solid transparent;
    border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}

.controls.push-right {
    display: flex;
}

.controls.push-right a.btn {
    margin: 5px;
    padding: 10px;
    width: 10%;
}

@media (max-width: 1024px) {
    .controls.push-right a.btn {
        width: 20%;
    }
}


.controls.push-right a.btn-left:hover {
    background-color: rgba(0, 43, 46, .2);
}

/* testimonial section End */

/* Dashboard Page End */


/* Profile Upadate Page Start  */
.controls .st-btn,
a.st-btn {
    display: block;
    background-color: transparent;
    padding: 10px 20px !important;
    color: #00b0ab;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    text-align: center;
    border: 2px solid #00b0ab;
}

.controls .st-btn:hover,
a.st-btn:hover {
    border: 2px solid #002b2e;
    background-color: #fff;
    color: #002b2e;
}

.main-heading {
    margin: 6rem 0px;
}

.update-section {
    margin: 6rem 0rem;
}

.update-outer {
    padding: 5rem 2rem 2rem 2rem;
    position: relative;
    box-shadow: 0px 0px 2px 2px #ccc;
}

.profile-photo {
    position: absolute;
    left: 40%;
    top: -15%;
    padding: 20px;
    height: 150px;
    width: 150px;
    z-index: 1;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #002b2e;
}

@media (max-width:576px) {
    .profile-photo {
        left: 32%;
        top: -8%;
    }
}


/* Profile Upadate Page End */

/* Exam Page Start  */
.exam-section {
    background: linear-gradient(220deg, rgb(54 113 100) 0%, rgb(13 119 114) 25%, rgb(3 103 41) 50%, rgb(53, 99, 74) 75%, rgb(19, 36, 27) 100%);
    min-height: 600px;
    background-size: 400% 400%;
    animation: animatePrivacy 8s ease infinite;
    animation-delay: 3s;

}

.next-page-link a {
    color: #fff;
    padding: 1rem 3rem;
    background: transparent;
    border: 2px solid #fff;
    text-decoration: none;


}

/* Exam Page End  */

/* ExamStart Page Start */
.question-list {
    background: #00b0ab;
    min-height: 150px;
    width: 300px;
    padding: 1rem;
    border-radius: 15px;
}

.question-list span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #fff;
    color: #000;
    margin-left: 0.5rem;
    margin-top: .5rem;
}

.col-md-6.question-answer .quest-count {
    background: #f1f3f4;
    padding: 1rem;

}

.qst-atm.mt-4 {
    background: #f1f3f4;
    padding: 1rem;
    width: 300px;
    border-radius: 15px;
}

.qst-atm.mt-4 ul {
    list-style: none;
}

.qst-atm.mt-4 ul li .count-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
}

.qst-atm.mt-4 ul li {
    display: flex;
    padding-top: 10px;
}

/* ExamStart Page End */

/* Fee page start */
.pay-logo{
    height: 70px;
    width: 150px;
    margin-right: 3rem;
}
/* Fee page End */