@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #002b2e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #002b2e;
    border-radius: 10px;
    border: 3px solid #002b2e;
}

body {
    scroll-behavior: smooth;
}



/*Top header start*/

.topHeader {
    background-color: #fff;
    z-index: 10000;
}

.topHeader .socialIcon {
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: center;
}

.topHeader .socialIcon a {
    padding-left: 20px;
    color: #002b2e;
    text-decoration: none;
    font-weight: normal;
}

.topHeader .socialIcon a:hover {
    color: #00b0ab;
}

.topHeader .socialIcon a.pintrest-icon,
.topHeader .socialIcon a.facebook-icon,
.topHeader .socialIcon a.twitter-icon,
.topHeader .socialIcon a.linkedin-icon,
.topHeader .socialIcon a.youtube-icon {
    display: flex;
    color: #002b2e;
    border: 1px solid #002b2e;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 4px;
    text-decoration: none;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    transition: all ease-in-out 1s;
}

.topHeader .socialIcon a.pintrest-icon:hover {
    color: #fff;
    background: #e60023;
    border: 1px solid #e60023;
}

.topHeader .socialIcon a.facebook-icon:hover {
    background: #1877f2;
    color: #fff;
    border: 1px solid #1877f2;
}

.topHeader .socialIcon a.twitter-icon:hover {
    background: #1da1f2;
    color: #fff;
    border: 1px solid #1da1f2;
}

.topHeader .socialIcon a.linkedin-icon:hover {
    background: #0a66c2;
    color: #fff;
    border: 1px solid #0a66c2;
}

.topHeader .socialIcon a.youtube-icon:hover {
    background: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10000;
    animation: stickymenu 1s ease-in-out;
}

.sticky.primary-header {
    background-color: #00b0ab;
}

.sticky .primary-navigation a {
    color: #002b2e;
}

.sticky .primary-navigation a:hover {
    /*color: #002b2e;*/
    color: #fff;
}

@keyframes stickymenu {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

.logo {
    height: 80px;
    width: 100px;
}

.logo img {
    height: 80px;
    width: 100%;
    object-fit: cover;

}

.primary-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 10000;
}

/* -------------------------------  */
.primary-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.primary-navigation a {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #002b2e;
    position: relative;
}

.primary-navigation a:hover {
    color: #00b0ab;
}

.primary-navigation a:after {
    content: '';
    width: 0%;
    transition: all 0.3s ease;
    left: 50%;
}

.primary-navigation a:before {
    content: '';
    width: 0%;
    transition: all 0.3s ease;
    left: 50%;
}

.primary-navigation a:hover::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #00b0ab;
    height: 3px;
    width: 50%;
    font-weight: 600
}

.primary-navigation a:hover::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #00b0ab;
    height: 3px;
    width: 50%;
    font-weight: 600;
}

.sticky .primary-navigation a:hover::after,
.sticky .primary-navigation a:hover::before {
    background: #fff;
}

.mobile-nav-toggle {
    display: none;
}

@media(max-width:1024px) {
    .primary-navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 60%;
        background: #002b2e;
        z-index: 9998;
        /*justify-content: space-between;*/
        padding: min(100vh, 5rem) 0rem;
        transform: translateX(100%);
        transition: 350ms ease-out;
        overflow: auto;
    }

    .primary-navigation li {
        padding: 10px 0px;
        margin-right: 25px;
        border-bottom: 1.2px solid #fff;

    }

    .primary-navigation li:nth-last-child(1) {
        border-bottom: none;
    }

    .sticky .primary-navigation a {
        color: #fff;
    }

    /*.primary-navigation li a {*/
    /*    color: #fff;*/
    /*}*/

    .primary-navigation a {
        color: #fff;
    }

    .primary-navigation a:hover {
        color: #00b0ab;
    }


    .primary-navigation a:after {
        content: '';
        display: none;
    }

    .primary-navigation a:before {
        display: none;
    }

    .primary-navigation a:hover::after {
        content: '';
        display: none;
    }

    .primary-navigation a:hover::before {
        content: '';
        display: none;
    }

    .mobile-nav-toggle {
        border: 0;
        display: block;
        position: absolute;
        background: transparent;
        z-index: 9998;
        background-repeat: no-repeat;
        width: 25px;
        line-height: 25px;
        margin: auto;
        aspect-ratio: 1;
        top: 25%;
        right: 3%;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/assets/img/times-solid.svg);
        z-index: 10000;
        position: fixed;
        top: 2%;
        right: 35%;
        width: 25px;
        height: 30px;
        transition: all ease 1s;

    }

    .mobile-nav-toggle[aria-expanded="false"] {
        background-image: url(/assets/img/bars-solid.svg);
    }
}

@media(max-width:768px) {
    .mobile-nav-toggle {
        top: 30%;
        right: 3%;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        top: 2%;
    }
}

@media(max-width:676px) {
    .primary-navigation {
        inset: 0 0 0 40%;
    }

    .mobile-nav-toggle {
        top: 35%;
        right: 3%;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        right: 53%;
    }

}

@media(max-width:500px) {
    .primary-navigation {
        inset: 0 0 0 20%;
    }

    .mobile-nav-toggle {
        top: 35%;
        right: 3%;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        right: 68%;
    }
}

/* ---------------------------------- */

/* start index page */
.techsima-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.techsima-content .techsima-title {
    color: #002b2e;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.techsima-content .techsima-des {
    color: #002b2e;
    font-weight: 500;
    font-size: 1.1rem;
    z-index: 1;

}

.techsima-content .inner-image img {
    width: 70px;
    animation: bubble 7s linear infinite;
    opacity: 0;
}

@keyframes bubble {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-80vh);
    }
}

.techsima-content .inner-image img:nth-child(1) {
    animation-delay: 3s;
    width: 40px;
}

.techsima-content .inner-image img:nth-child(2) {
    animation-delay: 4s;
    width: 35px;
}

.techsima-content .inner-image img:nth-child(3) {
    animation-delay: 5.5s;
}

.techsima-content .inner-image img:nth-child(4) {
    animation-delay: 1s;
    width: 60px;
}

.techsima-content .inner-image img:nth-child(5) {
    animation-delay: 3s;
    width: 30px;

}

.techsima-content .inner-image {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@media(max-width:576px) {
    .techsima-content .inner-image {
        width: 80%;
    }
}

/*Start slider section*/
.background-slider {
    background-image: url(/assets/img/PngItem_5213581.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-size: cover;
    min-height: 600px;
    z-index: 1000;
}

.slider {
    height: 600px;
    padding: 0;
}

.slider.banner-home img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

/*End slider section*/

/*Course section start*/
.course-card-main .card {
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
}

.course-card-main .card:hover {
    background-image: url(/assets/img/service-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.course-card-main .card-logo {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    background: #f7f7f7;
    top: -50px;
    left: 35%;
    transition: all 0.5s cubic-bezier(0, 0.25, 0.25, 1)
}

.course-card-main:hover .card-logo {
    transform: rotateY(360deg);
    border: 5px solid rgb(0, 176, 171);

}

.card-logo img {
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: block;
    margin: auto;
}

.btn {
    display: block;
    position: relative;
    min-width: 180px;
    max-width: 220px;
    color: #fff;
    margin: 4rem auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: #002b2e;
    border-radius: 0;
}

.btn::before, .btn::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #00b0ab;
}

.btn span {
    display: block;
    padding: 10px 0px;
}

.btn:hover {
    color: #00b0ab;
    background: transparent;
}

.btn span::before, .btn span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #00b0ab;
}

.btn:hover::before, .btn:hover::after {
    width: 100%;
}

.btn:hover span::before, .btn:hover span::after {
    height: 100%;
}

.btn::before, .btn::after {
    transition-delay: 0s;
}

.btn span::before, .btn span::after {
    transition-delay: 0.2s;
}

.btn::before {
    right: 0;
    top: 0;
}

.btn::after {
    left: 0;
    bottom: 0;
}

.btn span::before {
    left: 0;
    top: 0;
}

.btn span::after {
    right: 0;
    bottom: 0;
}

.btn:hover::before, .btn:hover::after {
    transition-delay: 0.2s;
}

.btn:hover .btn span::before, .btn:hover .btn span::after {
    transition-delay: 0s;
}

@media (max-width:1024px) {
    .card-main .card {
        margin-top: 4rem;
    }

    a.btn {
        width: 70%;
    }

    .course-card-main .card {
        margin-bottom: 80px;
    }
}

@media (max-width:768px) {}


/*Course section end*/

/* Training section End */
.training-logo {
    height: 100px;
    width: 100px;
}

.training-logo img {
    width: 100%;
    object-fit: cover;

}

.training-section .card {
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all .3s;
    min-height: 250px;
    max-height: 300px;
}

.training-section .card:hover {
    background-image: url(/assets/img/training-bg.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.training-section-bottom {
    padding-top: 20px;
}

@media (max-width:1024px) {
    .training-section .card {
        margin-bottom: 25px;
    }

    .training-section-bottom {
        padding-top: 0px;
    }
}

.taining-des {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Training section End */

/* Services section start */
.services-logo {
    height: 60px;
    width: 60px;

}

.services-logo img {
    width: 100%;
    object-fit: cover;

}

.service-card .card {
    position: relative;
    background-image: url(/assets/img/in-service.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
    background-color: rgb(255, 255, 255);
    min-height: 250px;
    padding: 30px;
    transition: all 0.3s ease 0s;
}

.service-card-down {
    padding-top: 20px;
}

/* 
.service-section-inner .card-title {
    padding-top: 30px;
    font-size: 24px;
    color: #002b2e;
    font-weight: 600;
    text-transform: uppercase;
}

.service-section-inner .card-text {
    font-size: 16px;

}

@media (max-width:1024px) {
    .service-section .card {
        margin-bottom: 20px;
    }

    .service-card-down {
        padding-top: 0px;
    }
} */

/* Services section End*/

/* Newsletter start */
.newsletter {
    font-size: 32px;
    font-weight: bold;
    color: #3a3d45;
}

button.btn-submit.position-absolute.rounded-pill {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 30px;
    background: #002b2e;
    color: #fff;
}

input.form-control.rounded-pill {
    padding: 10px;
    border: 2px solid #002b2e;
}


/* Newsletter end */
/* Enquery form start */
.enquery-image {
    min-height: 400px;
    position: relative;
}

.enquery-image img {
    height: 100%;
    width: 100%;
}

.enquery-form .form-control,
.registration .form-control {
    appearance: none;
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #002b2e;
    color: #212529;
    border-radius: 0;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 1rem 0rem 0rem 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.enquery-form .form-control:focus ,
.registration .form-control:focus {
    outline: none;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 1.5px solid #002b2e;

}

.enquery-form .form-control::placeholder {
    transition: all ease .5s;
    color: #00b0ab;
}

.enquery-form .form-control:hover::placeholder {
    transform: translateY(-20px);
    z-index: 1;
}

/* Enquery form end */
/* index page end*/
/* footer section start */

.footer {
    background: #002b2e;
    padding: 20px;
}

.header-logo {
    height: 130px;
    width: 170px;
}

.header-logo .img-fluid {
    height: auto;
    width: 100%;
}

.footer hr {
    opacity: 0.75;
}

.footer .footerLogo h2,
.footer .connectWith h2,
.footer .quickLink h2,
.footer .findUs h2 {
    color: #00b0ab;
    font-size: 20px;
    font-weight: bold;
}

.footer .connectWith h2.widget-title::before,
.footer .quickLink h2.widget-title::before,
.footer .findUs h2.widget-title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    top: 110%;
    left: 0;
    background-color: rgb(241, 244, 247);
}

.footer .connectWith h2.widget-title::after,
.footer .quickLink h2.widget-title::after,
.footer .findUs h2.widget-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    top: 125%;
    left: 30px;
    background-color: #00b0ab;
}

.footer .connectWith ul.icon,
.footer .quickLink ul.quick,
.footer .findUs ul.info {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0rem;
}

.footer .connectWith ul.icon li,
.footer .findUs ul.info li,
.footer .quickLink ul.quick li {
    list-style: none;
    margin-right: 15px;
    padding-top: 10px;
    color: #fff;
}

.footer .connectWith ul.icon li,
.footer .findUs ul.info li i {
    list-style: none;
    margin-right: 15px;
    color: #fff;
}

.footer .quickLink ul.quick li a,
.footer .findUs ul.info li a,
.footer .connectWith ul.icon li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.footer .connectWith ul.icon li a i,
.footer .findUs ul.info li a i,
.footer .quickLink ul.quick li a i {
    width: 25px;
}

.copyright {
    color: #fff
}

/* footer section end */
/* loader start */

#preloader {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    background: #fff;
}

#preloader .center {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#preloader .center .ring {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: ring 1s infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #b4183f;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #d0f30b;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px rgb(20, 20, 51);
    }
}

#preloader .center .ring:before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

#preloader .center span {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 150px;
    animation: text 1s ease-in-out infinite;
}

@keyframes text {
    0% {
        color: #002b2e;
    }

    50% {
        color: #b4183f;
    }

    100% {
        color: rgb(4, 2, 26);
    }
}


/* loader start */

.testimonials {

    background-image: url("/assets/img/testimonial\ \(1\).png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    max-height: 400px;
    min-height: 300px;
}

.one-slide,
.testimonial,
.message {
    border: none !important;
    outline: none !important;
    color: #000;
    font-size: 15px;
}

.icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
}

.carousel-controls .control {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    border-radius: 50%;
    border: 2px solid #002b2e;
    z-index: 1;
    color: #002b2e;
}

.prev {
    left: 3rem;
}

.next {
    right: 3rem;
}

@media screen and (max-width: 768px) {
    .testimonials {
        max-height: 700px;
    }

    .icon-overlay {
        height: 300px;
        top: calc(50% - 150px);
    }

    .carousel-controls .control {
        width: 25px;
        height: 25px;
    }

    .control i {
        font-size: .7rem;
    }

    .testimonials .message {
        font-size: 1rem;
    }

    .testimonials h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .prev {
        left: 1rem;
    }

    .next {
        right: 1rem;
    }
}

/* About Us Page Start */
.about-image {
    min-height: 400px;
    position: relative;
    box-shadow: 0px 0px 20px #00b0ab inset;
    padding: 1rem;
}

.about-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-main-title {
    position: relative;
    padding-top: 2rem;
}

.about-main-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    top: 125%;
    left: 30px;
    background-color: #00b0ab;
}

.about-main-title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    top: 110%;
    left: 0;
    background-color: #002b2e;
}

.about-section-main .about-content:nth-child(odd) {
    padding-left: 2rem;
}

@media(max-width:768px) {
    .about-section-main:nth-child(even) .row {
        flex-direction: column-reverse;
    }

    .about-content {
        padding-left: 0rem !important;
    }
}

@media(max-width:425px) {
    .about-content {
        padding-left: 1rem !important;
    }
}

/* About Us Page End*/

/* Course  Page Start*/

.ti_feature_section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.ti_padding_top_60,
.about-section-main {
    padding: 60px 0px;
}

.ti_heading_wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.ti_heading_wrapper>h2 {
    font-size: 32px;
    font-weight: bold;
    color: #3a3d45;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.ti_heading_wrapper>h2>span {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
    animation: contactdiv 2s infinite;
    animation-direction: alternate-reverse;
}

@keyframes contactdiv {
    from {
        left: -10%;
    }

    to {
        left: 60%;
    }
}

.demo .block {
    visibility: hidden;
}

.ti_feature_box {
    margin-bottom: 50px;
}

.ti_feature_box:hover .ti_feature_icon {
    transform: rotateY(360deg);
}

.ti_feature_box .ti_feature_icon {
    width: 170px;
    height: 170px;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 50px rgb(0 0 0 / 9%);
    margin-bottom: 30px;
    transition: all 0.5s cubic-bezier(0, 0.25, 0.25, 1);
}

.ti_feature_box .ti_feature_icon img {
    padding: 1.5rem;
}

.ti_feature_box .ti_subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #002b2e;
    transition: all 0.5s cubic-bezier(0, 0.25, 0.25, 1);
}

.course-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #002b2e;
    padding: 4rem 0rem;
    position: relative;
}

.course-heading::before {
    content: "";
    position: absolute;
    top: 95px;
    left: 0;
    width: 260px;
    height: 3px;
    background: #00b0ab;
}

.course-heading::after {
    content: "";
    position: absolute;
    top: 94px;
    left: 70px;
    width: 100px;
    height: 5px;
    background: #002b2e;
}

.courseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseBtn a {
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-width: 300px;
    max-width: 400px;
    padding: 10px 0px;
    color: #00b0ab;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #002b2e;
}


/*course page End*/
/*Contact page start*/

.ContactUs {
    /* min-height: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUs .container {
    position: relative;
    width: 100%;
    min-height: 600px;
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.ContactUs .container .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #002b2e;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.15);
}

.ContactUs .container .contactinfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.ContactUs .container .contactinfo ul.info {
    padding-left: 0px;
}

.ContactUs .container .contactinfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0px;
    cursor: pointer;
    align-items: flex-start;
}

.ContactUs .container .contactinfo ul.info li span:nth-child(1) i {
    filter: invert(50%);
}

.ContactUs .container .contactinfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
}

.ContactUs .container .contactinfo ul.info li a {
    color: #fff;
    text-decoration: none;
}

.ContactUs .container .contactinfo ul.icon {
    position: relative;
    display: flex;
}

.ContactUs .container .contactinfo ul.icon li {
    list-style: none;
    margin-right: 15px;
}

.ContactUs .container .contactinfo ul.icon li a {
    text-decoration: none;
    color: #fff;
}

.ContactUs .container .contactinfo ul.icon li a i {
    filter: invert(50%);
}

.ContactUs .container .contactform {
    position: absolute;
    padding: 50px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    min-height: 100%;
    background: #fff;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.ContactUs .container .contactform h2 {
    font-size: 24px;
    color: #002b2e;
    font-weight: bold;
}

.ContactUs .container .contactform .FormBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.ContactUs .container .contactform .FormBox .inputbox {
    position: relative;
    margin-bottom: 35px;
}

.ContactUs .container .contactform .FormBox .inputbox.w50 {
    width: 47%;
}

.ContactUs .container .contactform .FormBox .inputbox.w100{
    width: 100%;
}

.ContactUs .container .contactform .FormBox .inputbox input,
.ContactUs .container .contactform .FormBox .inputbox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.ContactUs .container .contactform .FormBox .inputbox textarea {
    height: 120px;
}

.ContactUs .container .contactform .FormBox .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    pointer-events: none;
    font-size: 15px;
    font-weight: 300;
    transition: 0.3s;
}

.ContactUs .container .contactform .FormBox .inputbox input:focus ~ span,
.ContactUs .container .contactform .FormBox .inputbox input:valid ~ span,
.ContactUs .container .contactform .FormBox .inputbox textarea:focus ~ span,
.ContactUs .container .contactform .FormBox .inputbox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #00b0ab;
    font-weight: 500;
}

.ContactUs .container .contactform .FormBox .inputbox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #00b0ab;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 10px;
}

.ContactUs .container .contactform .FormBox .inputbox input[type="submit"]:hover {
    background: #002b2e;
}

@media(max-width:1100px) {
    .ContactUs .container {
        width: 100%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    }

    .ContactUs .container .contactinfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }

    .ContactUs .container .contactform {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media(max-width:991px) {
    .ContactUs {
        background: #00b0ab;
      
    }

    .ContactUs:before {
        display: none;
    }

    .ContactUs .container {
        display: flex;
        flex-direction: column;
    }

    .ContactUs .container .contactform {
        width: 100%;
        height: auto;
    }

    .ContactUs .container .contactinfo {
        width: 100%;
        height: auto;
    }

    .ContactUs .container .contactinfo ul.icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:767px) {
    .ContactUs .container .contactform {
        padding: 25px;
    }

    .ContactUs .container .contactinfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .ContactUs .container .contactinfo ul.icon {
        margin-top: 40px;
    }

    .ContactUs .container .contactform .FormBox .inputbox.w50 {
        width: 100%;
    }
}


/* Map section start */

.map {
    padding: 0px;
}


/* Map section end */


/*Contact page End*/


/* Registration page start */

.registerUs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

/* .btn-submit {
    min-width: 180px;
    max-width: 200px;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    padding: 10px 20px;
    color: #00b0ab;
    margin: 2rem 1rem;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #00b0ab;

} */

.btn-submit {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    border: 0;

}

/* .btn-submit:hover {
    color: #002b2e;
    letter-spacing: 2px;
    border: 2px solid #002b2e;
} */

h1.form-title,
h2.form-title {
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: #002b2e;
    font-weight: bold;
}

.form-label {
    margin-bottom: 0.5rem;
    color: #00b0ab;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

/* Registration page End */

/*Login page start*/

.login,
.registration {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#loginModal.modal {
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 20%;
    width: 100%;
    z-index: 100;
}


/*Login page End*/
/* Forget Password Page Start */
.forget-pwd-section {
    margin: 3rem auto;
    box-shadow: 0px 0px 10px 2px #ccc;
    padding: 3rem 3rem;
}

/* Forget Password Page End */

.testimonials h2 {
    color: #00b0ab;
    font-size: 24px;
}

.blockquote-name {
    color: #00b0ab;
}

/* Faq Page Start */
.faq-section .accordion-item {
    margin-top: 10px;
    border-bottom: 2px solid #002b2e;
}

.faq-section .accordion-button:focus {
    border-color: #fff;
    box-shadow: none;
    outline: 0;
    z-index: 3;
}

.faq-section .accordion-button {
    align-items: center;
    background-color: rgb(213, 243, 241);
    border: 0;
    border-radius: 0;
    color: #002b2e;
    font-weight: 600;
    display: flex;
    font-size: 16px;
    overflow-anchor: none;
    padding: 1.25rem;
    position: relative;
    text-align: left;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
    width: 100%;
}

.faq-section .accordion-body {
    padding: 1.25rem;
    background-color: rgb(213, 243, 241);
    border-top: 2px solid #002b2e;
}

/* Faq Page End */
/* Gallery Page Start */


.gallery-image {
    min-height: 250px;
    max-height: 250px;
}

.gallery-titles {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    line-height: 70px;
    background: rgba(0, 43, 46, .9);
}

.gallery-titles p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #fff;
}


.button-section {
    padding-bottom: 3rem;
}

.button-section .btn {
    border: 2px solid #002b2e;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-section .active {
    background: #002b2e;
    color: #fff;
}

/* Gallery Page End */

/* Training Page Start */

.btn-training {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    padding: 10px 0px;
    max-width: 220px;
    min-width: 180px;
    color: #00b0ab;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #00b0ab;
}

@media (max-width:1024px) {
    .btn-training {
        margin-top: 1rem;
    }
}

@media (max-width:430px) {
    .btn-training {
        min-width: 110px;
        margin-left: 0rem;
    }
}

.training-outer {
    background: linear-gradient(-60deg, #181e1a, #1b4f4b, #05201f, #091716);
    padding: 20px;
    border-radius: 20px;
}

.training-main-section .training-inner {
    color: #fff;
    text-align: center;
}

/* Training Page End */
/* 404 Error Page Start */
.error-page-inner {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(240deg, #181e1a, #1b4f4b, #05201f, #091716);
    background-size: 400% 400%;
    animation: animatePrivacy 5s ease infinite;
    animation-delay: 3s;
}

.error-page-inner h1 {
    font-size: 8rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

.error-page-inner h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.error-page-inner .btn-error {
    border: 2px solid #fff;
    margin-top: 3rem;
    border-radius: 40px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

/* 404 Error Page End */

/* Services Details Page Start */
.service-details-banner {
    background-image: url(/assets/img/services-details.jpg);
    min-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.service-details-banner .service-details-banner-inner {
    background: rgba(255, 255, 255, .3);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-details {
    padding: 2rem;
}

.service-details-page .heading {
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.service-details-page .sub-heading {
    padding: 1rem 0rem;
}

.service-plan h2 {
    padding: 1rem 0rem;
}

ul.service-list {
    list-style-type: none;
    padding-left: 1rem;
}

ul.service-list li {
    padding: .6rem 0rem;
}

.service-list .img-fluid {
    height: 20px;
    width: 20px;
}

.service-list span {
    padding-left: 1rem;
}

/* Services Details page End */

/* Scroll top start */


/* Scroll top start */

/* thank you page start  */
.thankyou-page h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

.thankyou-page h2 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* thank you page end */

/* privacy page start */

.privacy-main,
.sitemap-main {
    background-image: linear-gradient(45deg, #1e7678 15%, #437674 50%, #071b22 90%);
    background-size: 400% 400%;
    color: #fff;
    animation: animatePrivacy 8s ease infinite;
    animation-delay: 3s;
    padding: 3rem;
}

@keyframes animatePrivacy {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* privacy page end */
/* sitemap start page */
.sitemap-main .siteMap {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.sitemap-main .siteMap a {
    color: #fff;
    text-decoration: none;
}

/* sitemap end page */